html,
body {
  height: 100%;
  font-size: 16px;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-evenly;
}

button {
  flex: 1;
  background-color: unset;
  border: unset;
  font-size: 1.5rem;
}

button:hover {
  background-color: lightgray;
}

#content {
  margin-top: 30px;
}
